select{
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.5%;
    width: 100%;
    margin: 1%;
}
select:hover{
    border: 1.2px solid rgb(4, 4, 97);
}
#findopp{
    padding: 1%;
    border: 1px solid grey;
    border-radius: 4px;
    background: none;
    margin-top: 5%;
}
@media screen and (max-width: 700px){
    #findopp{
    padding: 3%;
    }
    select{
        padding: 1%;
    }
}
#findopp:hover{
    background: rgb(4, 4, 97);
    transition-duration: 0.5s;
    color: white;
    border: rgb(4, 4, 97);
}

/* SEARCH-RESULTS CSS */

#h1{
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-top: 35vh;
    animation-direction: alternate;

}
@keyframes loading{
    from{ font-size: 220%; color: rgb(8, 8, 90); }
    to{font-size: 320%; color: rgb(15, 99, 184);}
}